.container{
  /* border: 1px solid black; */
  padding: 20px;
  margin: -8px;
  justify-content: center;
  background-color: #f3f4f6;
  /* height: 100vh; */
  color: #000000;
}
.head{
  display: flex;
  align-items: baseline;
  margin: auto;
  justify-content: center;
  max-width: 100%;
  text-align: center;
}
.head h1{
  color: #d97706;
  font-size: 4rem;
  /* margin: auto; */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}
.head p{
  color: #1d4ed8;
  font-size: 20px;
  font-style: italic;
  font-family: 'Poppins', sans-serif;

}
.input{
  /* border: 1px solid black; */
  margin: auto;
  background-color: #292524;
  color: white;
  max-width: 100%;
  width: 500px;
  border-radius: 50px;
  padding: 10px 20px;  
  display: flex;
  align-items: center;
}
.input input{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin-left: 20px;
  border: none;
  background: none;
  background-color: #292524;
  color: white;
}
.input .search{
  cursor: pointer;
  font-size: 22px;
  font-weight: 800;
}
.input input:focus{
  border: none;
  outline: none;
}

.flex_cards{
  /* border: 1px solid red; */
  margin: 30px auto;
  /* display: flex; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 1200px;
}

.card{
  /* border: 1px solid rgb(0, 0, 0); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 20px 20px;
  border-radius: 22px;
  margin: 20px 20px;
  max-width: 300px;
  /* max-height: 300px; */
}

.card img{
  margin: auto;
  display: flex;
  align-items: center;
  width: 300px;
  border-radius: 22px;
  height: auto;
}

.card h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #3f3f46;
}
.card p{
  font-family: 'Poppins', sans-serif;
  
}
.actor_name{
  font-size: 19px;
  color: #292524;
}
.movie_name{
  color: #b91c1c;
  font-size: 18px;
}
.year{
  color: #b91c1c;
  font-weight: 700;
  font-size: 17px;
  text-decoration: underline;
}